.Normal {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(0,0,0);
}

.WarmHeading1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 24pt;
color: rgb(255,0,0);
}

.WarmHeading2 {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 18pt;
color: rgb(128,0,0);
}

.WarmSubhead {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 18pt;
color: rgb(255,0,0);
}

.WarmBodyText {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(255,0,0);
}

.WarmCaption {
font-family: Arial, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(128,0,0);
}

.CoolHeading1 {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 24pt;
color: rgb(128,0,128);
}

.CoolHeading2 {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 18pt;
color: rgb(0,128,128);
}

.CoolSubhead {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 12pt;
color: rgb(0,0,255);
}

.CoolBodyText {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(128,0,128);
}

.CoolCaption {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(0,0,255);
}

.ReverseHeading1 {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 800;
font-size: 24pt;
color: rgb(255,255,0);
background-color: rgb(0,0,0);
}

.ReverseHeading2 {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 18pt;
color: rgb(255,255,255);
background-color: rgb(0,0,0);
}

.ReverseSubhead {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 800;
font-size: 14pt;
color: rgb(255,255,0);
background-color: rgb(0,0,0);
}

.ReverseBodyText {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(255,255,255);
background-color: rgb(0,0,0);
}

.ReverseCaption {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(0,255,255);
background-color: rgb(0,0,0);
}

.BasicHeading1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 18pt;
color: rgb(0,0,0);
}

.BasicHeading2 {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 800;
font-size: 18pt;
color: rgb(128,128,128);
}

.BasicSubhead {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 14pt;
color: rgb(0,0,0);
}

.BasicBodyText {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
text-align: right;
color: rgb(0,0,0);
}

.BasicCaption {
font-family: Arial, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(128,128,128);
}

.OceanHeading1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 18pt;
color: rgb(0,128,128);
}

.OceanHeading2 {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 14pt;
color: rgb(0,128,0);
}

.OceanSubhead {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 12pt;
color: rgb(0,0,128);
}

.OceanBodyText {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 10pt;
color: rgb(0,128,128);
}

.OceanCaption {
font-family: Arial, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(0,0,255);
}

.BrightHeading1 {
font-family: Arial, serif;
font-style: italic;
font-weight: 800;
font-size: 24pt;
color: rgb(0,255,255);
}

.BrightHeading2 {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 18pt;
color: rgb(0,255,0);
}

.BrightSubhead {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(0,255,255);
}

.BrightBodyText {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 10pt;
color: rgb(255,255,0);
}

.BrightCaption {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(0,255,0);
}

.BookHeading1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 16pt;
color: rgb(64,0,128);
}

.UTCSOBody {
font-family: Tahoma, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(0,135,135);
}

.UTCSOButton {
font-family: Tahoma, serif;
font-style: normal;
font-weight: 400;
font-size: 10pt;
color: rgb(128,0,128);
}

.LinkColor {
text-decoration: none ;
color: rgb(0,0,255);
}

.VLinkColor {
text-decoration: none ;
color: rgb(255,0,0);
}

.ALinkColor {
text-decoration: none ;
color: rgb(0,255,0);
}

.HLinkColor {
text-decoration: none ;
color: rgb(255,128,0);
}

.FixedWidthFont {
font-family: Courier New, serif;
font-size: 10pt;
}

.DBCUSTOMSTYLE1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 600;
font-size: 12pt;
color: rgb(0,64,128);
}

.lumpkin1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 600;
font-size: 12pt;
color: rgb(0,60,60);
}

.lumpkinsmall {
font-family: Arial, serif;
font-style: normal;
font-weight: 300;
font-size: 10pt;
color: rgb(0,64,64);
}

.lumpkinbold {
font-family: Arial, serif;
font-style: normal;
font-weight: 500;
font-size: 10pt;
color: rgb(0,64,64);
}

B { font-weight:bold }

SPAN.DecorationOff { text-decoration:none }
SPAN.ItalicOff { font-style:normal }
SPAN.BoldOff { font-weight:normal }
SPAN.DecorationAndItalicOff { text-decoration:none; font-style:normal }
SPAN.DecorationAndBoldOff { text-decoration:none; font-weight:normal }
SPAN.ItalicAndBoldOff { font-style:normal; font-weight:normal }
SPAN.AllOff { text-decoration:none; font-style:normal; font-weight:normal }

