DIV.Normal {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(0,0,0);
}

TH.Normal {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(0,0,0);
}

TD.Normal {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(0,0,0);
}

DIV.WarmHeading1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 24pt;
color: rgb(255,0,0);
}

TH.WarmHeading1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 24pt;
color: rgb(255,0,0);
}

TD.WarmHeading1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 24pt;
color: rgb(255,0,0);
}

DIV.WarmHeading2 {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 18pt;
color: rgb(128,0,0);
}

TH.WarmHeading2 {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 18pt;
color: rgb(128,0,0);
}

TD.WarmHeading2 {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 18pt;
color: rgb(128,0,0);
}

DIV.WarmSubhead {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 18pt;
color: rgb(255,0,0);
}

TH.WarmSubhead {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 18pt;
color: rgb(255,0,0);
}

TD.WarmSubhead {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 18pt;
color: rgb(255,0,0);
}

DIV.WarmBodyText {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(255,0,0);
}

TH.WarmBodyText {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(255,0,0);
}

TD.WarmBodyText {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(255,0,0);
}

DIV.WarmCaption {
font-family: Arial, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(128,0,0);
}

TH.WarmCaption {
font-family: Arial, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(128,0,0);
}

TD.WarmCaption {
font-family: Arial, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(128,0,0);
}

DIV.CoolHeading1 {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 24pt;
color: rgb(128,0,128);
}

TH.CoolHeading1 {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 24pt;
color: rgb(128,0,128);
}

TD.CoolHeading1 {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 24pt;
color: rgb(128,0,128);
}

DIV.CoolHeading2 {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 18pt;
color: rgb(0,128,128);
}

TH.CoolHeading2 {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 18pt;
color: rgb(0,128,128);
}

TD.CoolHeading2 {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 18pt;
color: rgb(0,128,128);
}

DIV.CoolSubhead {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 12pt;
color: rgb(0,0,255);
}

TH.CoolSubhead {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 12pt;
color: rgb(0,0,255);
}

TD.CoolSubhead {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 12pt;
color: rgb(0,0,255);
}

DIV.CoolBodyText {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(128,0,128);
}

TH.CoolBodyText {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(128,0,128);
}

TD.CoolBodyText {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(128,0,128);
}

DIV.CoolCaption {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(0,0,255);
}

TH.CoolCaption {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(0,0,255);
}

TD.CoolCaption {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(0,0,255);
}

DIV.ReverseHeading1 {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 800;
font-size: 24pt;
color: rgb(255,255,0);
background-color: rgb(0,0,0);
}

TH.ReverseHeading1 {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 800;
font-size: 24pt;
color: rgb(255,255,0);
background-color: rgb(0,0,0);
}

TD.ReverseHeading1 {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 800;
font-size: 24pt;
color: rgb(255,255,0);
background-color: rgb(0,0,0);
}

DIV.ReverseHeading2 {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 18pt;
color: rgb(255,255,255);
background-color: rgb(0,0,0);
}

TH.ReverseHeading2 {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 18pt;
color: rgb(255,255,255);
background-color: rgb(0,0,0);
}

TD.ReverseHeading2 {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 18pt;
color: rgb(255,255,255);
background-color: rgb(0,0,0);
}

DIV.ReverseSubhead {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 800;
font-size: 14pt;
color: rgb(255,255,0);
background-color: rgb(0,0,0);
}

TH.ReverseSubhead {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 800;
font-size: 14pt;
color: rgb(255,255,0);
background-color: rgb(0,0,0);
}

TD.ReverseSubhead {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 800;
font-size: 14pt;
color: rgb(255,255,0);
background-color: rgb(0,0,0);
}

DIV.ReverseBodyText {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(255,255,255);
background-color: rgb(0,0,0);
}

TH.ReverseBodyText {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(255,255,255);
background-color: rgb(0,0,0);
}

TD.ReverseBodyText {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(255,255,255);
background-color: rgb(0,0,0);
}

DIV.ReverseCaption {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(0,255,255);
background-color: rgb(0,0,0);
}

TH.ReverseCaption {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(0,255,255);
background-color: rgb(0,0,0);
}

TD.ReverseCaption {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(0,255,255);
background-color: rgb(0,0,0);
}

DIV.BasicHeading1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 18pt;
color: rgb(0,0,0);
}

TH.BasicHeading1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 18pt;
color: rgb(0,0,0);
}

TD.BasicHeading1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 18pt;
color: rgb(0,0,0);
}

DIV.BasicHeading2 {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 800;
font-size: 18pt;
color: rgb(128,128,128);
}

TH.BasicHeading2 {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 800;
font-size: 18pt;
color: rgb(128,128,128);
}

TD.BasicHeading2 {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 800;
font-size: 18pt;
color: rgb(128,128,128);
}

DIV.BasicSubhead {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 14pt;
color: rgb(0,0,0);
}

TH.BasicSubhead {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 14pt;
color: rgb(0,0,0);
}

TD.BasicSubhead {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 14pt;
color: rgb(0,0,0);
}

DIV.BasicBodyText {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(0,0,0);
}

TH.BasicBodyText {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(0,0,0);
}

TD.BasicBodyText {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(0,0,0);
}

DIV.BasicCaption {
font-family: Arial, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(128,128,128);
}

TH.BasicCaption {
font-family: Arial, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(128,128,128);
}

TD.BasicCaption {
font-family: Arial, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(128,128,128);
}

DIV.OceanHeading1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 18pt;
color: rgb(0,128,128);
}

TH.OceanHeading1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 18pt;
color: rgb(0,128,128);
}

TD.OceanHeading1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 18pt;
color: rgb(0,128,128);
}

DIV.OceanHeading2 {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 14pt;
color: rgb(0,128,0);
}

TH.OceanHeading2 {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 14pt;
color: rgb(0,128,0);
}

TD.OceanHeading2 {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 14pt;
color: rgb(0,128,0);
}

DIV.OceanSubhead {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 12pt;
color: rgb(0,0,128);
}

TH.OceanSubhead {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 12pt;
color: rgb(0,0,128);
}

TD.OceanSubhead {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 12pt;
color: rgb(0,0,128);
}

DIV.OceanBodyText {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 10pt;
color: rgb(0,128,128);
}

TH.OceanBodyText {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 10pt;
color: rgb(0,128,128);
}

TD.OceanBodyText {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 10pt;
color: rgb(0,128,128);
}

DIV.OceanCaption {
font-family: Arial, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(0,0,255);
}

TH.OceanCaption {
font-family: Arial, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(0,0,255);
}

TD.OceanCaption {
font-family: Arial, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(0,0,255);
}

DIV.BrightHeading1 {
font-family: Arial, serif;
font-style: italic;
font-weight: 800;
font-size: 24pt;
color: rgb(0,255,255);
}

TH.BrightHeading1 {
font-family: Arial, serif;
font-style: italic;
font-weight: 800;
font-size: 24pt;
color: rgb(0,255,255);
}

TD.BrightHeading1 {
font-family: Arial, serif;
font-style: italic;
font-weight: 800;
font-size: 24pt;
color: rgb(0,255,255);
}

DIV.BrightHeading2 {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 18pt;
color: rgb(0,255,0);
}

TH.BrightHeading2 {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 18pt;
color: rgb(0,255,0);
}

TD.BrightHeading2 {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 18pt;
color: rgb(0,255,0);
}

DIV.BrightSubhead {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(0,255,255);
}

TH.BrightSubhead {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(0,255,255);
}

TD.BrightSubhead {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(0,255,255);
}

DIV.BrightBodyText {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 10pt;
color: rgb(255,255,0);
}

TH.BrightBodyText {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 10pt;
color: rgb(255,255,0);
}

TD.BrightBodyText {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 10pt;
color: rgb(255,255,0);
}

DIV.BrightCaption {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(0,255,0);
}

TH.BrightCaption {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(0,255,0);
}

TD.BrightCaption {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(0,255,0);
}

DIV.BookHeading1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 16pt;
color: rgb(64,0,128);
}

TH.BookHeading1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 16pt;
color: rgb(64,0,128);
}

TD.BookHeading1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 16pt;
color: rgb(64,0,128);
}

DIV.DBCUSTOMSTYLE1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 600;
font-size: 12pt;
color: rgb(0,64,128);
}

TH.DBCUSTOMSTYLE1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 600;
font-size: 12pt;
color: rgb(0,64,128);
}

TD.DBCUSTOMSTYLE1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 600;
font-size: 12pt;
color: rgb(0,64,128);
}

DIV.lumpkin1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 600;
font-size: 12pt;
color: rgb(0,60,60);
}

TH.lumpkin1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 600;
font-size: 12pt;
color: rgb(0,60,60);
}

TD.lumpkin1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 600;
font-size: 12pt;
color: rgb(0,60,60);
}

DIV.DBCUSTOMSTYLE4 {
font-family: Arial, serif;
font-style: normal;
font-weight: 600;
font-size: 12pt;
color: rgb(0,60,60);
}

TH.DBCUSTOMSTYLE4 {
font-family: Arial, serif;
font-style: normal;
font-weight: 600;
font-size: 12pt;
color: rgb(0,60,60);
}

TD.DBCUSTOMSTYLE4 {
font-family: Arial, serif;
font-style: normal;
font-weight: 600;
font-size: 12pt;
color: rgb(0,60,60);
}

DIV.lumpkinsmall {
font-family: Arial, serif;
font-style: normal;
font-weight: 300;
font-size: 10pt;
color: rgb(0,64,64);
}

TH.lumpkinsmall {
font-family: Arial, serif;
font-style: normal;
font-weight: 300;
font-size: 10pt;
color: rgb(0,64,64);
}

TD.lumpkinsmall {
font-family: Arial, serif;
font-style: normal;
font-weight: 300;
font-size: 10pt;
color: rgb(0,64,64);
}

DIV.lumpkinbold {
font-family: Arial, serif;
font-style: normal;
font-weight: 500;
font-size: 10pt;
color: rgb(0,64,64);
}

TH.lumpkinbold {
font-family: Arial, serif;
font-style: normal;
font-weight: 500;
font-size: 10pt;
color: rgb(0,64,64);
}

TD.lumpkinbold {
font-family: Arial, serif;
font-style: normal;
font-weight: 500;
font-size: 10pt;
color: rgb(0,64,64);
}

B { font-weight:bold }

